<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>Hello World !!</h1>
    <h2>안녕하세요 <%= name %>님</h2>

    <table style="width:100% ; ">
        <tr >
          <th>ID</th>
          <th>TITLE</th>
          <th>AUTHOR</th>
          <th>DATE</th>
          <th>EDIT</th>
        </tr>

    <% for (i=0;i<articles.length;i++) { %>
        <tr>
            <td><%= articles[i]['id'] %></td>
            <td><a href="/details/<%= articles[i]['id'] %>"><%= articles[i]['title'] %></a></td>
            <td><%= articles[i]['author'] %></td>
            <td><%= articles[i]['create_date'] %></td>
            <td><button>삭제</button><button>수정</button></td>
        </tr>
        <% } %>
    </table>
    

</body>
</html>